.yw-header-fixed {
    height: 74px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    background-color: #ffffff;
}

.yw-header-fixed .yw-nav-a {
    color: #242a31;
}

.yw-header-fixed .header-joinus-btn {
    color: #fff;
    background-color: #03a0e5;
    border: none;
}

.yw-header-fixed .yw-nav-a:hover {
    color: #03a0e5;
    box-shadow: 0 1px #019ee4, 0 2px #019ee4, 0 3px #019ee4;
}

.yw-header-fixed .header-joinus-btn:hover {
    color: #ffffff;
    box-shadow: none;
}

.yw-header-fixed .yw-header-logo {
    background-position: 0 -48px;
}

/*nav经过时*/
.yw-header-fixed .active,
.yw-header-fixed .active:hover {
    color: #ffffff;
    background-color: #03a0e5;
    box-shadow: none;
}